    html { 
        background: url(https://www.walldevil.com/wallpapers/a85/kitty-wallpaper-hello-pimpmychannel-youtube-pink-picture-anime.jpg) repeat center center fixed; 
        background-size: cover;
    }
     
    div {
        display: block;
        width: 550px;
        position:absolute;
        left: 30%;
        right: 30%;
        overflow:visible;
        justify-content: center
    }

    li {
        width: 500px;
        left: 30%;
        right: 60%;
    }
     
    p {
        color: #ff66b3;
        text-align:center; 
        line-height:normal;
        font-family: cursive;
        font-size: 18px;
        font-weight:normal;
        margin-bottom: auto;
        float: inherit;
        padding: inherit;
     }
   
     h1 {
        color: #ff4da6;
        border-style: double;
        border-width: 15px;
        border-color: lightpink;
        text-align:center; 
        line-height:normal;
        font-family: cursive;
        font-size: 30px;
        font-weight: bolder;
     }
   
     h2, .zanr {
        color: #808080; 
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
        font-size: 25px;
        justify-content: flex-end;
     }
     
     #pytel, #soutez {
        color:lightpink;
        text-align:center; 
        line-height:normal;
        font-family: cursive;
        font-weight:normal;
     }
     
     footer, .zanr {
         text-transform:uppercase;
     }
     
     i {
         color: #e60073;
     }
     
     #zaver    
        {color:pink;
        text-align:center; 
        line-height:normal;
        font-family: cursive;
        font-size: 20px;
        font-weight:normal;
     }
  
     
     .autor, .zdroj {
        color: #b3b3b3;
        text-align:center; 
        line-height: normal;
        font-family: cursive;
        font-size: 18px;
        font-weight:normal;
     }
     
     blockquote {
        color:hotpink;
        text-decoration: underline;
     }
     
     a {
        color: palevioletred;
        font-style: oblique;
     }
     
     
     html, a:hover {
        cursor: url(http://www.picgifs.com/cursors/anime/hello-kitty/animaatjes_hello_kitty_icon55.gif), progress !important;
     }